.grid {
  display: grid;
  
}

.gcol-12 {
  width: 100%;
}
.gcol-11 {
  width: 91.6%;
}
.gcol-10 {
  width: 83.3%;
}
.gcol-9 {
  width: 75%;
}
.gcol-8 {
  width:66.6%;
}
.gcol-7 {
  width: 58.3%;
}
.gcol-6 {
  width: 50%;
}
.gcol-5 {
  width: 41.6%;
}
.gcol-4 {
  width: 33.33%;
}
.gcol-3 {
  width: 25%;
}
.gcol-2 {
  width: 16.6%;
}
.gcol-1 { 
  width: 8.3%; 
}